# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env


# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Coverage
coverage/

# Uploads
uploads/
